@use "../globals/colors" as colors;

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.8em;
  height: 1.8em;
  background: transparent;
  border: 2px solid #dedee4;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input[type="checkbox"]::before {
  content: "\2713";
  color: white;
}

.checkbox input[type="checkbox"]:checked {
  background: colors.$pink;
  border: 2px solid colors.$pink;
}
