@use "../utils" as u;

.field {
  label {
    padding-left: 0.6em;
  }
  input {
    background: rgba(236, 236, 236, 0.27);
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: u.rem(22) u.rem(80);
  }
}
