@use "../globals/colors" as colors;
@use "../utils" as u;

.step {
  position: relative;

  $scaleOnActive: 1.3;

  .daimond {
    width: u.rem(16);
    height: u.rem(16);
    background-color: #c6ccd5;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    user-select: none;
  }

  &.active .daimond {
    background-color: colors.$pink;
    transform: rotate(45deg) scale($scaleOnActive);
  }

  .title {
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    color: #c6ccd5;
    user-select: none;
    font-size: u.rem(22);
  }

  &.active .title {
    color: colors.$pink;
    transform: translateX(-50%) scale($scaleOnActive);
    font-weight: 700;
  }

  @include u.breakpoint(large) {
    .title {
      font-size: u.rem(18);
    }
  }
  @include u.breakpoint(medium) {
    .title {
      font-size: u.rem(16);
    }
  }
  @include u.breakpoint(small) {
    .title {
      font-size: u.rem(14);
    }

    .daimond {
      width: u.rem(12);
      height: u.rem(12);
    }
  }
  @media (max-width: 500px) {
    .title {
      font-size: u.rem(10);
    }
  }
}
