@use "../globals/colors" as colors;
@use "../utils" as u;

.step {
  position: relative;

  $scaleOnActive: 1.3;

  .daimond {
    width: 16px;
    height: 16px;
    background-color: #c6ccd5;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    user-select: none;
  }

  &.active .daimond {
    background-color: colors.$pink;
    transform: rotate(45deg) scale($scaleOnActive);
  }

  .title {
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    color: #c6ccd5;
    user-select: none;
  }

  &.active .title {
    color: colors.$pink;
    transform: translateX(-50%) scale($scaleOnActive);
    font-weight: 700;
  }
}
