@use "../utils" as u;

.wrapper {
  background-image: url(../../assets/images/donation-bg.svg);
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position-x: center;

  section {
    display: flex;
    align-items: center;

    aside {
      max-width: u.rem(596);
      width: 100%;
      flex: 1;
      margin-right: u.rem(100);
    }

    article {
      flex: 1;
    }

    @include u.breakpoint(large) {
      flex-direction: column;

      aside {
        max-width: u.rem(480);
        margin-right: 0;
        margin-bottom: u.rem(30);
      }
    }
  }
}
