@use "../utils" as u;

.navbar {
  display: flex;
  align-items: center;
  padding: u.rem(20) 0;
  justify-content: space-between;

  .logo {
    width: u.rem(180);
  }

  .right {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: u.rem(50);
    }
  }
}
