@use "../utils" as u;

.section {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: u.rem(100) u.rem(24);
  padding-bottom: 9rem !important;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;

    & > :not(:last-child) {
      margin-right: u.rem(30);
    }
  }

  @include u.breakpoint(large) {
    padding: u.rem(60) u.rem(18);
    padding-bottom: 5rem !important;

    main {
      & > :not(:last-child) {
        margin-right: u.rem(16);
      }
    }
  }

  @include u.breakpoint(small) {
    main {
      flex-wrap: wrap;
      & > :not(:last-child) {
        margin-right: u.rem(0);
      }

      & > :nth-child(n) {
        margin: u.rem(10);
      }
    }
  }
}
