@use "../utils" as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: u.$font-inter;
}

body {
  font-size: 100% !important;
  background-color: white;
  overflow-x: hidden;
}

.font-ubuntu {
  font-family: u.$font-ubuntu;
}
.font-open-sans {
  font-family: u.$font-open-sans;
}
